
.navbar {
    background-color: #1e1e2f; 
  }
  
 
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .role-text {
    color: #ffffff; 
    font-size: 0.875rem;
  }
  
  
  .dropdown-menu {
    background-color: #1e1e2f; 
    color: #ffffff; 
    z-index: 2000; 
  }
  

  .dropdown-item {
    color: #ffffff; 
    padding: 1rem; 
  }
  
  
  .dropdown-item:hover {
    background-color: #27293d; 
  }
  
 
  .avatar {
    cursor: pointer; 
  }
  

  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .role-text {
      font-size: 0.75rem; 
    }
  }
  